<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    [% INCLUDE bootstrap_css_include.tt %]
    [% INCLUDE pnotify_css_include.tt %]

    <meta charset="UTF-8">
    [% section_head_tags %]
    [% head_tags %]
    <!-- <title>[% page_title %]</title> -->
    <title>PBDB</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">

  <!-- Brand and toggle get grouped for better mobile display --> 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tgc-main-nav-collapse">
      <span class="sr-only">Toggle navigation</span>
      MENU
    </button>
    <a class="navbar-brand" href="/"><img src="/public/images/logo_white.png" alt="PaleobioDB" title="PBDB Home"></a>
  </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/classic">Main Menu</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/#/faq">FAQ</a></li>
                <li><a target="_blank" href="https://github.com/paleobiodb/PBDB_changelog/blob/master/README.md">Recent Changes</a></li>
                <li><a href="/#/people">People</a></li>
                <li><a href="https://training.paleobiodb.org/#/support">Funding</a></li>
                <li><a href="https://training.paleobiodb.org/#/project">Project Development</a></li>
                <li><a href="/#/publications">Official Publications</a></li>
                <li><a href="/#/contact">Contact Us</a></li>
              </ul>
            </li>
            <li><a href="/classic/displayDownloadGenerator">Download</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/classic/displaySearchColls?type=view">Fossil collection records</a></li>
                <li><a href="/classic/beginTaxonInfo">Fossil organisms</a></li>
                <li><a href="/classic/displaySearchRefs?type=view">Published references</a></li>
                <li><a href="/classic/classificationForm">Classifications of taxa in groups</a></li>
                <li><a href="/classic/displaySearchStrataForm">Stratigraphic units</a></li>
                <li><a href="/classic/?page=OSA">Data archives</a></li>
              </ul>
            </li>
            [% IF current_user.role AND current_user.role != "guest" %]
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/classic?a=displaySearchRefs&amp;type=select">Select reference</a></li>
                <li><a href="/classic?a=clearRef&amp;type=select">Clear reference</a></li>
                <li><a href="/classic?a=displaySearchRefs&amp;type=add">Add reference</a></li>
                <li><a href="/classic?a=editCurrentRef">Edit reference</a></li>
                <li><a href="/classic?a=displaySearchCollsForAdd">Add collection</a></li>
                <li><a href="/classic?a=displaySearchColls&amp;type=edit">Edit collection</a></li>
                <li><a href="/classic?a=displayOccurrenceAddEdit">Add/Edit occurrences</a></li>
                <li><a href="/classic?a=displaySpecimenSearchForm">Add/Edit measurements</a></li>
                [% IF current_user.role != "student" %]
                    <li><a href="/classic?a=displayAuthorityTaxonSearchForm">Add/Edit names</a></li>
                    <li><a href="/classic?a=displayOpinionSearchForm">Add/Edit opinions</a></li>
                [% END %]
              </ul>
            </li>
            [% END -%]
            [%- IF reference_name %]
              <li><a href="/classic/displayReference?reference_no=[% reference_no %]">Ref: [% reference_name %]</a></li>
            [% END -%]
	      </ul>

          [% IF NOT current_user %]
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/account">Login</a></li>
            </ul>
          [% ELSE %]
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  [% current_user.display_name %]
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href=""><em>
                    [% IF current_user.authorizer_no && current_user.authorizer_no == current_user.person_no %] Authorizer: Myself
                    [% ELSIF current_user.authorizer_name %] Authorizer: [% current_user.authorizer_name %]
                    [% ELSE %] Guest User [% END %]
                  </em></a></li>
		  <hr>
		  <li><a href="/account">Account settings</a></li>
		  [% IF current_user.admin %]
		  <li><a href="/classic/app/resource_sub/manager">Manage resources</a></li>
		  <li><a href="/admin/users">Manage database users</a></li>
		  [% END %]
		  [% IF current_user.role == "authorizer" %]
		  <li><a href="/account/enterers">Manage my enterers/students</a></li>
		  [% END %]
          [% IF current_user.role != "guest" %]
          <li><a href="/classic?a=displayPreferencesPage">Data entry settings</a></li>
          <li><a href="/classic/?a=displayPermissionListForm">Editing permission list</a></li>
          [% END %]
          <li><a href="/logout">Log Out</a></li>
          </ul>
          </li>
          </ul>
          [% END %]

          <form class="navbar-form navbar-right navbar-input-group" role="search" id="global-game-search" action="/classic/quickSearch" method="POST">
            <div class="form-group">
              <input type="text" class="form-control search-query" name="quick_search" placeholder="Quick search" onkeyup="update_global_game_search()">
            </div>
          </form>

        </div><!-- /.navbar-collapse -->
      </div><!-- container -->
    </nav>
