<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    [% INCLUDE bootstrap_css_include.tt %]
    [% INCLUDE pnotify_css_include.tt %]
    [% INCLUDE jquery_js_include.tt %]

    <link rel="stylesheet" href="/public/classic_css/autocomplete.css">

    <meta charset="UTF-8">
    [% section_head_tags %]
    [% head_tags %]
    <title>[% page_title %]</title>
    <!-- <title>PBDB</title> -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
    <![endif]-->
    <script src="/public/classic_js/autocomplete.js"></script>
    <script language="javascript" type="text/javascript">
      var acapp = new AutoCompleteObject("searchbox", "cls", "classic");
      document.addEventListener("DOMContentLoaded", acapp.initialize, false);
      
      function NewTab(doclink) { 
          window.open( 
              doclink, "_blank"); 
      }     </script>
        <style>
    .navbar-brand img {
        margin-top: -12px;
    }
    </style>
  </head>
[% IF pbdb_site == 'dev' -%]
[%   nb_color = 'background-color: #7b4070' -%]
[% ELSIF pbdb_site == 'training' -%]
[%   nb_color = 'background-color: #408830' -%]
[% ELSIF pbdb_site == 'main' -%]
[%   nb_color = 'background-color: #000000' -%]
[% ELSE -%]
[%   nb_color = 'background-color: #106580' -%]
[% END %]
  <body>
    <style>
      .nav > li > a { padding-left: 15px; padding-right: 10px }
    </style>
      <nav class="navbar navbar-inverse navbar-static-top" style="[% GET nb_color %]" role="navigation">
      <div class="container">

  <!-- Brand and toggle get grouped for better mobile display --> 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tgc-main-nav-collapse">
      <span class="sr-only">Toggle navigation</span>
      MENU
    </button>
    <a class="navbar-brand" href="/"><img src="/public/images/logo_white.png" alt="PaleobioDB" title="PBDB Home"></a>
  </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/classic">Main Menu</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
              <ul class="dropdown-menu">
		<li class="dropdown"><a onclick="NewTab('https://escholarship.org/content/qt6tm05630/qt6tm05630.pdf?t=s0797i')">User Guide</a></li>
		<li><a onclick="NewTab('https://docs.google.com/document/d/e/2PACX-1vQPrlNL2sUTFbZAzZFs2Jhs4j-1h3RfAIFNl54JstnHfxhhRcjMGImGU4VRk89C9Er_kNEWj7NTAqaR/pub')">FAQ</a></li>
		<li><a onclick="NewTab('https://docs.google.com/document/d/e/2PACX-1vSa6qptD9Ox02NoD3pD5XreK0lh9P0JCxsHo1cpwV5My7HPh77vLYy6zjOqLPo0Gy09DKbAK3x69yMr/pub')">Recent Changes</a></li>
		<li><a onclick="NewTab('https://docs.google.com/document/d/e/2PACX-1vRGNLWHekf_Pi2tfxfJeGvIAR3S3Z9BT6apmPQ-AGQhCHm0YB7AAwvSDh8F0bmrgeTO9LsB4Yw5IVsn/pub')">People</a></li>
		<li><a onclick="NewTab('https://docs.google.com/document/d/e/2PACX-1vTj4EvmyKBAMq-mbfa7_TFbZMyA-JCRJhAjiEY5IFjaiPcjBTPO1uU54iefy_OxalV188qbKa2FZP8c/pub')">Funding</a></li>
		<li><a onclick="NewTab('https://docs.google.com/document/d/e/2PACX-1vR7kG-nphQsmxW2tHX3yZkuahsZfQyXb3-5d8k088LDxwMM0RYlFbXM-m6ERWgm-bCNx8JKtiDsHPvu/pub')">Project Development</a></li>
		<li><a onclick="NewTab('#/publications')">Official Publications</a></li>
		<li><a onclick="NewTab('https://docs.google.com/document/d/e/2PACX-1vTSim8NOagd9iBlfCHWofL-fH4hMfkHUqakfwryDT2VOBxoCYsSMbpDcUdjBb0996Xvv8Ka7m1lqgcP/pub')">Partner Organizations</a></li>
		<li><a onclick="NewTab('https://docs.google.com/document/d/178HwGVtA4--3SSFCN5Xx56P75BskCWCZVV_OHMVK0Ms/edit?usp=sharing')">Database Policies</a></li>
		<li><a onclick="NewTab('https://docs.google.com/document/d/e/2PACX-1vSeDBiPU9fgkK44R49Nj2WyhquPKU0F3G0uH1ezl9gNNq3cRyGHPdEvjpNtnuVwnXgscmoWru4zKUmx/pub')">Grant Writing Assistance</a></li>
		<li><a onclick="NewTab('https://docs.google.com/document/d/e/2PACX-1vQtrCtdl_7wOzAgm90__urKxgIMWLxC1hdA5Qh0rLozrnXteObSSWdXaAd9jSuJWfScHBXFvGACI6z5/pub')">Contact Us</a></li>
              </ul>
            </li>
            <li><a href="/classic/displayDownloadGenerator">Download</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/classic/displaySearchColls?type=view">Fossil collection records</a></li>
                <li><a href="/classic/beginTaxonInfo">Fossil organisms</a></li>
                <li><a href="/classic/app/refs">Published references</a></li>
                <li><a href="/classic/classificationForm">Classifications of taxa in groups</a></li>
                <li><a href="/classic/displaySearchStrataForm">Stratigraphic units</a></li>
                <li><a href="/classic/app/archive/list">Data archives</a></li>
              </ul>
            </li>
            [% IF current_user.role AND current_user.role != "guest" %]
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/classic/app/refs">Select reference</a></li>
                <li><a href="/classic?a=clearRef&amp;type=select">Clear reference</a></li>
                <li><a href="/classic/app/refs?type=new">Add reference</a></li>
                <li><a href="/classic?a=displaySearchCollsForAdd">Add collection</a></li>
                <li><a href="/classic?a=displaySearchColls&amp;type=edit">Edit collection</a></li>
                <li><a href="/classic?a=displayOccurrenceAddEdit">Add/Edit occurrences</a></li>
                <li><a href="/classic?a=displaySpecimenSearchForm">Add/Edit measurements</a></li>
                [% IF current_user.role != "student" %]
                    <li><a href="/classic?a=displayAuthorityTaxonSearchForm">Add/Edit names</a></li>
                    <li><a href="/classic?a=displayOpinionSearchForm">Add/Edit opinions</a></li>
                [% END %]
              </ul>
            </li>
            [% END -%]
            [%- IF reference_name %]
              <li><a href="/app/refs#display=[% reference_no %]">Ref: [% reference_name %]</a></li>
            [% END -%]
	    [% IF pbdb_site == 'training' %]
	      <li><a name="sitetype">TRAINING SITE</a></li>
	    [% ELSIF pbdb_site == 'dev' %]
	      <li><a name="sitetype">DEV SITE</a></li>
	    [% ELSIF pbdb_site != 'main' %]
	      <li><a name="sitetype">LOCAL SITE</a></li>
	    [% END %]
	      </ul>

          [% IF NOT current_user %]
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/account">Login</a></li>
            </ul>
          [% ELSE %]
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  [% current_user.display_name %]
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href=""><em>
                    [% IF current_user.authorizer_no && current_user.authorizer_no == current_user.person_no %] Authorizer: Myself
                    [% ELSIF current_user.authorizer_name %] Authorizer: [% current_user.authorizer_name %]
                    [% ELSE %] Guest User [% END %]
                  </em></a></li>
		  <hr>
		  <li><a href="/account">Account settings</a></li>
		  [% IF current_user.admin %]
		  <li><a href="/classic/app/resource-sub/manager">Manage resources</a></li>
		  <li><a href="/classic/app/archive/manage">Manage archives</a></li>
		  <li><a href="/admin/users">Manage database users</a></li>
		  [% END %]
		  [% IF current_user.role == "authorizer" %]
		  <li><a href="/account/enterers">Manage my enterers/students</a></li>
		  [% END %]
          [% IF current_user.role != "guest" %]
          <li><a href="/classic?a=displayPreferencesPage">Data entry settings</a></li>
          <li><a href="/classic/?a=displayPermissionListForm">Editing permission list</a></li>
          [% END %]
          <li><a href="/logout">Log Out</a></li>
          </ul>
          </li>
          </ul>
          [% END %]

          <form class="navbar-form navbar-input-group form-search universalSearchForm"
			  onsubmit="return acapp.do_submit(this)">
                  <div class="input-group" id="acinput">
                    <input type="text" class="form-control" placeholder="Search the database" id="searchbox"
				onkeyup="acapp.do_keyup()">
                    <div class="searchResult dropdown-menu" style="display: none;"></div>
                  </div>
          </form>
		  
        </div><!-- /.navbar-collapse -->
      </div><!-- container -->
    </nav>

      <script language="javascript">
          document.body.addEventListener("click", function (e) {
              acapp.showhide_menu(e);
          });
      </script>
