<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    [% INCLUDE bootstrap_css_include.tt %]
    [% INCLUDE pnotify_css_include.tt %]
    [% INCLUDE jquery_js_include.tt %]

    <meta charset="UTF-8">
    <title>[% page_title %]</title>
  </head>
<body>
<div style="margin-bottom: 20px">&nbsp;</div>
