

<!DOCTYPE html>
<html lang="en">
<head>
<meta property="fb:admins" content="1647395831">
<meta name="p:domain_verify" content="9efcf3f7cb2724f7ee3a402d50757889"/>
<meta name="google-site-verification" content="y2WGepzlUDyTkzKhLv0BdoHS387JKtv3e2IsWnv1w_Y">
<meta name="google-site-verification" content="aOjW51R2Ev8qeHwmIHI0sCKE2IN5yJcZp2bR9H6Dgew">
<meta name="msvalidate.01" content="9CECAFF79940E766AC5222FB3105F124">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<link href="/chiselchat/chiselchat.min.css?v=12" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/pnotify/2.0.0/pnotify.all.min.css" rel="stylesheet">

<link href="/tgc4/css/tgc.css?v=19" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='//fonts.googleapis.com/css?family=Goblin+One' rel='stylesheet' type='text/css'>
<meta property="og:title" content="The Game Crafter">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.thegamecrafter.com/">
<meta property="og:image" content="https://www.thegamecrafter.com/tgc4/img/logo-100x64.png">
<style type="text/css" rel="stylesheet">
.product_types div.col-sm-1 { 
  color: white;
  font-size: 120%;
}
.product_types div.col-sm-2 {
 background-repeat: no-repeat;
 border-radius: 10px;
 border: 1px solid #444;
 height: 110px;
 margin-bottom: 15px;
}
.product_types a {
 display: table;
 width: 100%;
 height: 100%;
 background: -moz-radial-gradient(rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.0) 75%); /* FF 3.6+ */
 background: -webkit-radial-gradient(rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.0) 75%); /* Safari 5.1+, Chrome 10+ */
 background: -o-radial-gradient(rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.0) 75%); /* Opera 11.10 */
 background: radial-gradient(rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.0) 75%); /* the standard */
 text-align: center;
}
.product_types a:hover {
 text-decoration: none;
 border-radius: 10px;
 border: 1px solid white;
}
.product_types a p {
 display: table-cell;
 vertical-align: middle;
 text-align: center;
 text-decoration: none;
 text-shadow: 2px 2px 2px black;
 filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000000,offX=2,offY=2);
 color: white;
 font-size: 140%;
 font-weight: bold;
}
.what_is_tgc .header, .what_is_tgc {
 background-color: #bbd329;
}
.what_is_tgc .nav {
 border: 0;
 margin-bottom: 0px;
}
.what_is_tgc .nav li {
 font-family: 'Goblin One';
 font-size: 80%;
}
@media (min-width: 1200px) {
    .what_is_tgc .nav li {
        font-size: 100%;
    }
}
@media (max-width: 979px) {
    .what_is_tgc .nav li {
        font-size: 85%;
    }
}
.what_is_tgc .nav li a {
 color: black;
}
.what_is_tgc .nav li.active a {
 background-color:rgba(218,232,106,1.0);
 border-left: 1px solid rgb(186,213,0);
 border-right: 1px solid rgb(186,213,0);
 border-bottom: 1px solid rgb(186,213,0);
}

.what_is_tgc .tab-pane {
 font-weight: 200;
 padding-bottom: 20px;
 padding-top: 20px;
 font-size: 120%;
 color: black;
}
.what_is_tgc .tab-pane a {
 color: #000080;
 text-decoration: underline;
}
.what_is_tgc .tab-pane a.btn {
 color: white;
 text-decoration: none;
 margin-bottom: 2px;
}
.btn-tgc {
 background-color: #bbd329;
 color: black;
}
</style>


 <title>Welcome to The Game Crafter, the world leader in print on demand board games and card games.</title>
 <link rel="shortcut icon" href="/favicon.ico">
 <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/tgc4/img/apple-touch-icon-144-precomposed.png">
 <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/tgc4/img/apple-touch-icon-114-precomposed.png">
 <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/tgc4/img/apple-touch-icon-72-precomposed.png">
 <link rel="apple-touch-icon-precomposed" href="/tgc4/img/apple-touch-icon-57-precomposed.png">
</head>
<body>



<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
 <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tgc-main-nav-collapse">
      <span class="sr-only">Toggle navigation</span>
      MENU
    </button>
    <a class="navbar-brand" href="/"><img src="/tgc4/img/brand-logo.png" alt="The Game Crafter Logo" title="The Game Crafter"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="tgc-main-nav-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop <b class="caret"></b></a>
        <ul class="dropdown-menu">
         <li><a href="/games">Games</a></li>
         <li><a href="/tarot">Tarot</a></li>
         <li><a href="/playing-cards">Playing Cards</a></li>
         <li><a href="/non-games">Non-Games</a></li>
         <li><a href="/parts">Game Pieces</a></li>
        <li><a href="/gift-certificates">Gift Certificates</a></li>
        <li><a href="/crowdsales">Crowd Sales</a></li>
        <li><a href="/account/receipts">My Past Orders</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Make Games <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://help.thegamecrafter.com/article/5-getting-started">Getting Started</a></li>
<li><a href="/publish/products">Products</a></li>
<li><a href="/publish/pricing">Pricing</a></li>
<li><a href="/publish/editor">My Games</a></li>
<li><a href="/publish/designers">My Designers</a></li>
<li><a href="/publish/sales">My Sales</a></li>
<li><a href="/publish/stats">My Stats</a></li>

        </ul>
      </li>
      <li class="hidden-sm"><a href="http://news.thegamecrafter.com">News</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="visible-sm"><a href="http://news.thegamecrafter.com">News</a></li>
<li><a href="/newsletter">Newsletter</a></li>
<li><a href="/announcements">Announcements</a></li>
<li><a href="/accolades">Recent Game Accolades</a></li>
<li><a href="/reviews">Recent User Reviews</a></li>
<li><a href="/ideas">Site Ideas</a></li>
<li><a href="/referendums">Referenda</a></li>
<li><a href="/auction">Auctions</a></li>
<li><a href="/chat" %]">Chat</a></li>
<li><a href="/contests">Contests</a></li>
<li><a href="//community.thegamecrafter.com/hall-of-fame">Hall of Fame</a></li>
<li><a href="http://thegamecrafter.libsyn.com">Podcast</a></li>
<li><a href="/designers">Designers</a></li>
<li><a href="/arttest">Art Tests</a></li>
<li><a href="/people">People</a></li>
<li><a href="//community.thegamecrafter.com/forums">Forums</a></li>

        </ul>
      </li>
      <li><a href="http://help.thegamecrafter.com/">Help</a></li>
      <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart (<span id="cartcount">0</span>)</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
     <li><a href="/account" class="account"><span class="glyphicon glyphicon-user"></span> Login</a></li>
    </ul>
    <form class="navbar-form navbar-right navbar-input-group" role="search" id="global-game-search" action="/search" method="GET">
      <div class="form-group">
          <input type="search" class="form-control search-query" placeholder="Find Games" onkeyup="update_global_game_search()">
        </div>
         <button class="btn btn-default" type="submit" onclick="update_global_game_search()"><span class="glyphicon glyphicon-search"></span></button>
    </form>

  </div><!-- /.navbar-collapse -->
  </div>
</nav>


<div id="showcase_carousel" class="carousel slide" data-ride="carousel">
 <div class="carousel-inner">
 
 
  <div class="active item">
   <div class="showcase" style="background-image: url(//s3.amazonaws.com/files.thegamecrafter.com/92966df40494f73cd69d77243635f6decb908ff8);">
    
    <div class="showcase_overlay">
     <div class="container">
      <div class="showcase_content">
       <div class="row">
        <div class="col-sm-12 showcase_spacer"></div>
       </div>
       <div class="row">
        <div class="col-sm-6">
         <a href="/games/plague-the-card-game" class="showcase_logo"><img src="//s3.amazonaws.com/files.thegamecrafter.com/1bb33b4bf03b134ee49b7cca8e0007d357619095" alt="Plague the Card Game Logo" title="Plague the Card Game"></a> 
        </div>
        <div class="col-sm-6 showcase_review">
           
            <span>&ldquo;Easy to transport, easy to teach, fun to play. Isn't that pretty much exactly what you are looking for in a game.&rdquo;</span>
            <div>~ <a href="http://www.youtube.com/watch?v=7kUyW4QvcYc&feature=player_embedded" target="_new">The Gamers Table</a></div>
           
          <a href="/games/plague-the-card-game" class="btn btn-primary btn-lg">Learn More &raquo;</a>


        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <a href="/games/plague-the-card-game" class="showcase_link" title="Plague the Card Game"></a>

  </div>
 
  <div class="item">
   <div class="showcase" style="background-image: url(//s3.amazonaws.com/files.thegamecrafter.com/119d544d82197756e439de9dd2a655c68c7fefbf);">
    
    <div class="showcase_overlay">
     <div class="container">
      <div class="showcase_content">
       <div class="row">
        <div class="col-sm-12 showcase_spacer"></div>
       </div>
       <div class="row">
        <div class="col-sm-6">
         <a href="/games/squirmish-the-beast-battling-card-game:-starter-set-a" class="showcase_logo"><img src="//s3.amazonaws.com/files.thegamecrafter.com/623868441d6d7b7b875c7d7e38b4bd6fd3eddc73" alt="SQUIRMISH™ The Beast Battling Card Game: Starter Set A Logo" title="SQUIRMISH™ The Beast Battling Card Game: Starter Set A"></a> 
        </div>
        <div class="col-sm-6 showcase_review">
           
            <span>&ldquo;Overall, I’ve had fun with Squirmish both with my kids and with adult players. I think it’s a lot of fun for families.&rdquo;</span>
            <div>~ <a href="https://geekdad.com/2016/05/squirmish/" target="_new">Jonathan H. Liu at GeekDad</a></div>
           
          <a href="/games/squirmish-the-beast-battling-card-game:-starter-set-a" class="btn btn-primary btn-lg">Learn More &raquo;</a>


        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <a href="/games/squirmish-the-beast-battling-card-game:-starter-set-a" class="showcase_link" title="SQUIRMISH™ The Beast Battling Card Game: Starter Set A"></a>

  </div>
 
  <div class="item">
   <div class="showcase" style="background-image: url(//s3.amazonaws.com/files.thegamecrafter.com/b5df16012bff78b76e2154d44d91996845049d8e);">
    
     <div style="border-radius: 20px; background-color: #cf1f02; color: white; border: 10px solid #cf1f02; font-size: 500%; text-transform: uppercase; font-weight: bold; text-align: center; position: absolute; top: 260px; right: 10%; padding: 5px;-ms-transform: rotate(7deg); -webkit-transform: rotate(7deg); transform: rotate(7deg);">On Sale!</div>
    
    <div class="showcase_overlay">
     <div class="container">
      <div class="showcase_content">
       <div class="row">
        <div class="col-sm-12 showcase_spacer"></div>
       </div>
       <div class="row">
        <div class="col-sm-6">
         <a href="/crowdsale/sky-kingdoms:-good-evil-primal-forces" class="showcase_logo"><img src="//s3.amazonaws.com/files.thegamecrafter.com/6abb609accfe409c43c3bc2ceb159e0a1bbb38aa" alt="Sky Kingdoms: Good, Evil & Primal Forces Logo" title="Sky Kingdoms: Good, Evil & Primal Forces"></a> 
        </div>
        <div class="col-sm-6 showcase_review">
           
            <span>&ldquo;Refined strategy, amazing artwork and fast, fun gameplay! This is definitely one for the game closet.&rdquo;</span>
            <div>~ <a href="" target="_new">Nick Barfuss, Biased Game Designer :)</a></div>
           
          <a href="/crowdsale/sky-kingdoms:-good-evil-primal-forces" class="btn btn-primary btn-lg">Learn More &raquo;</a>


        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <a href="/crowdsale/sky-kingdoms:-good-evil-primal-forces" class="showcase_link" title="Sky Kingdoms: Good, Evil & Primal Forces"></a>

  </div>
 
  <div class="item">
   <div class="showcase" style="background-image: url(//s3.amazonaws.com/files.thegamecrafter.com/6024a85cb8897e9bb378ca195d438ce41dca2cea);">
    
    <div class="showcase_overlay">
     <div class="container">
      <div class="showcase_content">
       <div class="row">
        <div class="col-sm-12 showcase_spacer"></div>
       </div>
       <div class="row">
        <div class="col-sm-6">
         <a href="/games/time-barons" class="showcase_logo"><img src="//s3.amazonaws.com/files.thegamecrafter.com/184f24abb4f727c6a14bdb88cc553ea8aec2f16f" alt="Time Barons Logo" title="Time Barons"></a> 
        </div>
        <div class="col-sm-6 showcase_review">
           
            <span>&ldquo;Time Barons is easily one of the best games I've played in the last year. It's quick to pick up and play, sure, but underneath that simple exterior beats a cruel, nasty, brilliant and beautiful heart.&rdquo;</span>
            <div>~ <a href="http://littlemetaldog.com/2014/03/31/after-hours-time-barons-review/" target="_new">Michael Fox, The Little Metal Dog Show</a></div>
           
          <a href="/games/time-barons" class="btn btn-primary btn-lg">Learn More &raquo;</a>


        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <a href="/games/time-barons" class="showcase_link" title="Time Barons"></a>

  </div>
 
  <div class="item">
   <div class="showcase" style="background-image: url(//s3.amazonaws.com/files.thegamecrafter.com/d8186f353fdc73869b0040af6a369b82b8dddba0);">
    
    <div class="showcase_overlay">
     <div class="container">
      <div class="showcase_content">
       <div class="row">
        <div class="col-sm-12 showcase_spacer"></div>
       </div>
       <div class="row">
        <div class="col-sm-6">
         <a href="/games/duel-maze" class="showcase_logo"><img src="//s3.amazonaws.com/files.thegamecrafter.com/0e6830900573b1d5352c49608715f51c0af7c970" alt="Duel MAZE Logo" title="Duel MAZE"></a> 
        </div>
        <div class="col-sm-6 showcase_review">
           
            <span>&ldquo;I’m sure I’d get a few Picard face-palms if I claimed that Duel Maze was an a-MAZ-ing game, but that’s exactly what it is. There’s so much strategy for such an easy to play game, it’s ridiculous. 8/10&rdquo;</span>
            <div>~ <a href="http://www.dadsgamingaddiction.com/duel-maze/" target="_new">Vincent Paone, Dad's Gaming Addiction</a></div>
           
          <a href="/games/duel-maze" class="btn btn-primary btn-lg">Learn More &raquo;</a>


        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <a href="/games/duel-maze" class="showcase_link" title="Duel MAZE"></a>

  </div>
 
  
 </div>
 <a class="carousel-control left" href="#showcase_carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
 <a class="carousel-control right" href="#showcase_carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>






<div class="what_is_tgc hidden-xs"> 
 <div class="tabable">
  <div class="header">
   <div class="container">
    <ul class="nav nav-tabs">
     <li class="hidden-sm"><a href="#whatistgc" style="color: #C45D04;" data-toggle="tab">What is The Game Crafter?</a></li>
     <li><a href="#indiegames" data-toggle="tab">Amazing Indie Games</a> </li>
     <li class="divider"><a href="#gamepieces" data-toggle="tab">Great Game Pieces</a></li>
     <li class="divider"><a href="#customgames" data-toggle="tab">Complete Custom Games</a></li>
    </ul>
   </div>
  </div>
  <div class="container">
   <div class="tab-content">
    <div class="tab-pane row" id="whatistgc">
        <div style="text-align: center;">
            <iframe width="560" height="315" src="//www.youtube.com/embed/u2E5rM9Ph7k" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="tab-pane row" id="indiegames">
        <div class="col-sm-6">
            <b>Looking for New Tabletop Games?</b>
            <p>
                The Game Crafter sells over 4000 indie board games and card games. Browse by <a href="/games">category</a> or <a href="/search">search</a> by keyword, genre, theme, and more. Customer reviews, photos, downloadable rule sheets, and videos make shopping fun and easy.
            </p>
        </div>
        <div class="col-sm-6">
            <b>Unique Games From Around the World</b>
            <p>
                Our <a href="/games">shop</a> is an open marketplace for indie tabletop games. Products are created by game designers around the world that use our print on demand <a href="http://help.thegamecrafter.com/article/5-getting-started">game publishing service</a> to produce their games.
            </p>
        </div>
    </div>
    <div class="tab-pane" id="gamepieces">
      <div class="row">
        <div class="col-sm-6">
            <b>Board Game Pieces and Parts</b>
            <p>
                The Game Crafter has <a href="/parts">900 game pieces and parts</a> in stock! We have an excellent selection of <a href="/parts#category=Dice">dice</a>, <a href="/parts#category=Pawns">pawns</a>, <a href="/parts#keyword=Poker+Chips">poker chips</a>, <a href="/parts#material=Wood">wood bits</a>, <a href="/parts#category=Miniatures">miniatures</a>, <a href="/parts#keyword=Meeples">meeples</a>, <a href="/parts#category=Stands">card stands</a>, <a href="/parts#category=Tokens">tokens</a>, <a href="/parts#category=Spinners">spinners</a>, <a href="/parts#material=Glass">gems</a>, <a href="/parts#category=Timers">sand timers</a>, and even <a href="/parts#vintage=1">vintage game parts</a>!
            </p>
        </div>
        <div class="col-sm-6">
            <b>Bulk Discounts and No Minimum Order</b>
            <p>
                There is no minimum order size when you shop at The Game Crafter. Buy 1 game piece or as many as you need. Large part orders receive discounts based on quantity and the savings is automatically applied during checkout.
            </p>
        </div>
     </div>
    </div>
    <div class="tab-pane" id="customgames">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <p>
                    The Game Crafter offers game designers an easy-to-use system to make a board game, card game, or custom playing cards. Free templates, instructions, videos, and proofing tools are available to help people create quality products.
                </p>
                <p>
                    <b>It's Easy to Make Your Own Game:</b>
                    <ol>
                        <li>Upload your artwork and rules</li>
                        <li>Choose the parts in your game</li>
                        <li>Select the game box you want</li>
                        <li>Buy 1 copy or as many as you need</li>
                    </ol>    
                </p>
                <p>
                    Once a game is created, the designer can choose to self-publish it in our online shop and sell it to a worldwide audience. <a href="http://help.thegamecrafter.com/article/131-sales">Learn more</a>
                </p>
            </div>
    	    <div class="col-md-5 col-sm-6">
              <img src="/tgc4/img/ideas2games.png" alt="Ideas to Games"> 
            </div>
            <div class="col-md-3 col-md-offset-0 col-sm-offset-1 col-sm-5">
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#boards">Chipboard Game Boards</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#decks">Decks of Cards</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#tiles">Game Tiles</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#mats">Player Mats</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/product/TokenSticker">Printed Tokens</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/parts">Game Pieces</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/product/Document">Rules Documents</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#booklets">Booklets</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#boxes">Boxes</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/product/DiceSticker">Custom Dice</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#chits">Chits</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#dials">Dials</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#scorepads">Score Pads</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#screens">Screens</a>
                     <a class="btn btn-block btn-primary btn-sm" href="/publish/products#shards">Shards</a>
            </div>
        </div> 
        
    </div>
   </div>
  </div>
 </div>
</div>




<div class="container">


 <h2>Featured Games</h2>
 <div class="row">
  <div class="col-sm-9">
     <div class="row product_list">
        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Deck6">
        <a href="/games/deck6"><img src="//s3.amazonaws.com/files.thegamecrafter.com/cdfb7b03c38b0fdcacf330d72cd2df75bde54ac8" alt="Ad for Deck6" title="Deck6" class="img-responsive"></a>
        <a href="/games/deck6" class="name">Deck6</a>
        
        <div class="short_description">A standard playing card deck with two additional suits</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('6880FD3C-F1FA-11E4-B89A-22ACFE48D702', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$15.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span> (1)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Porn: The Game! / Holiday &quot;Package&quot;">
        <a href="/games/porn:-the-game-holiday-package-"><img src="//s3.amazonaws.com/files.thegamecrafter.com/b24479732704301e191a2461e19dee7a3957ec3f" alt="Ad for Porn: The Game! / Holiday &quot;Package&quot;" title="Porn: The Game! / Holiday &quot;Package&quot;" class="img-responsive"></a>
        <a href="/games/porn:-the-game-holiday-package-" class="name">Porn: The Game! / Holiday &quot;Package&quot;</a>
        
        <div class="short_description">LIMITED / DELUXE EDITION</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('C2FEFF0E-5435-11E6-B28D-480788CADD93', this,true);"><span class="glyphicon glyphicon-shopping-cart"></span>$35.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span> (18)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Deck Around">
        <a href="/games/deck-around"><img src="//s3.amazonaws.com/files.thegamecrafter.com/a95fd4b8edb8d9da769611966e706b28ad09bca7" alt="Ad for Deck Around" title="Deck Around" class="img-responsive"></a>
        <a href="/games/deck-around" class="name">Deck Around</a>
        
        <div class="short_description">A hilarious bluffing game in explicit detail</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('2A097272-488D-11E3-BC3B-47A6F14FE85E', this,true);"><span class="glyphicon glyphicon-shopping-cart"></span>$35.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span> (4)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Plague the Card Game">
        <a href="/games/plague-the-card-game"><img src="//s3.amazonaws.com/files.thegamecrafter.com/bf0af4217a4bb4701d15a985b962462784876299" alt="Ad for Plague the Card Game" title="Plague the Card Game" class="img-responsive"></a>
        <a href="/games/plague-the-card-game" class="name">Plague the Card Game</a>
        
        <div class="short_description">2013 Games Magazine's Top 10 Card Games</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('4F87423E-D603-11E1-89F5-84D813BAC486', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$19.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span> (14)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Tammany">
        <a href="/games/tammany"><img src="//s3.amazonaws.com/files.thegamecrafter.com/2c25f4c447246f06f4c02ee39cf42c758b91b278" alt="Ad for Tammany" title="Tammany" class="img-responsive"></a>
        <a href="/games/tammany" class="name">Tammany</a>
        
        <div class="short_description">Get your cronies to vote early and often in this auction-based game of corrupt elections.</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('A6329B7E-8C03-11E5-92DB-B1CB20E34A62', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$19.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span> (0)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Hermetic Kabbalah Tarot">
        <a href="/games/hermetic-kabbalah-tarot"><img src="//s3.amazonaws.com/files.thegamecrafter.com/aef896201be34909d40aa27009f0c3dd8383ea2a" alt="Ad for Hermetic Kabbalah Tarot" title="Hermetic Kabbalah Tarot" class="img-responsive"></a>
        <a href="/games/hermetic-kabbalah-tarot" class="name">Hermetic Kabbalah Tarot</a>
        
        <div class="short_description">A project which objective is to bring a clearer stance towards the origins and meanings of the tarot</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('6ACE11D6-39CF-11E3-B38B-1BE9DCC3CC15', this,true);"><span class="glyphicon glyphicon-shopping-cart"></span>$39.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star-empty'></span> (9)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Ph. D. The Game">
        <a href="/games/ph.-d.-the-game"><img src="//s3.amazonaws.com/files.thegamecrafter.com/8285c7c2fd2a8f5ffa741de1c5adb7624ee20b3e" alt="Ad for Ph. D. The Game" title="Ph. D. The Game" class="img-responsive"></a>
        <a href="/games/ph.-d.-the-game" class="name">Ph. D. The Game</a>
        
        <div class="short_description">A card game that is much more fun than actual grad school.</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('FE9ACA74-33A5-11E3-A81B-E6188F576CCE', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$17.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star-empty'></span> (7)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Ibyron: Island of Discovery">
        <a href="/games/ibyron:-island-of-discovery"><img src="//s3.amazonaws.com/files.thegamecrafter.com/76380b79929017bfcf190156bbdc17b30b86a89c" alt="Ad for Ibyron: Island of Discovery" title="Ibyron: Island of Discovery" class="img-responsive"></a>
        <a href="/games/ibyron:-island-of-discovery" class="name">Ibyron: Island of Discovery</a>
        
        <div class="short_description">Two-tier action, exploration and city building game</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('0B461826-0315-11E3-9B63-0498F281FBB4', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$64.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span> (1)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="SOLITAIRE: Flipped (White Version)">
        <a href="/games/solitaire:-flipped-white-version-"><img src="//s3.amazonaws.com/files.thegamecrafter.com/b1030996ef4c10c8925cf91403296a744c6bc1a4" alt="Ad for SOLITAIRE: Flipped (White Version)" title="SOLITAIRE: Flipped (White Version)" class="img-responsive"></a>
        <a href="/games/solitaire:-flipped-white-version-" class="name">SOLITAIRE: Flipped (White Version)</a>
        
        <div class="short_description">A strategic customizable twist on solitaire</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('0D9B5896-55AD-11E6-A066-3787560029C2', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$19.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span> (0)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured on-sale" title="Sky Kingdoms: Good, Evil &amp; Primal Forces">
        <a href="/crowdsale/sky-kingdoms:-good-evil-primal-forces"><img src="//s3.amazonaws.com/files.thegamecrafter.com/3f1b344db9817429b7fb3110e8c70580fdc099bf" alt="Ad for Sky Kingdoms: Good, Evil &amp; Primal Forces" title="Sky Kingdoms: Good, Evil &amp; Primal Forces" class="img-responsive"></a>
        <a href="/crowdsale/sky-kingdoms:-good-evil-primal-forces" class="name">Sky Kingdoms: Good, Evil &amp; Primal Forces</a>
        
        <div class="short_description">Gravity defying round-robin light strategy card battles</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="window.location='/crowdsale/sky-kingdoms:-good-evil-primal-forces';"><span class="glyphicon glyphicon-shopping-cart"></span>$38.91</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span> (1)</span>
            
                <b style="white-space: nowrap;">On Sale!</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Cogs in a Machine">
        <a href="/games/cogs-in-a-machine"><img src="//s3.amazonaws.com/files.thegamecrafter.com/6eb31cc8b968aeafdacbe9b7c0b2f7e16d97d5ee" alt="Ad for Cogs in a Machine" title="Cogs in a Machine" class="img-responsive"></a>
        <a href="/games/cogs-in-a-machine" class="name">Cogs in a Machine</a>
        
        <div class="short_description">Make Cogs, Steal Cogs, Upgrade, Quarrel, Win!</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('0F990C08-EFD9-11E1-A34A-056C8889CD00', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$44.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span> (0)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
            
<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="game featured" title="Formula Smash Up">
        <a href="/games/formula-smash-up"><img src="//s3.amazonaws.com/files.thegamecrafter.com/2ba4f31f8242becb76414f76fc287069997e689f" alt="Ad for Formula Smash Up" title="Formula Smash Up" class="img-responsive"></a>
        <a href="/games/formula-smash-up" class="name">Formula Smash Up</a>
        
        <div class="short_description">If you like car racing games you will love Formula Smash Up</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('DE780D18-0424-11E6-8A7B-7D071DA95DD6', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$42.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span> (4)</span>
            
                <b>Featured</b>
            
        </div>
    </div>
</div>

        
     </div>
      <a href="/search#featured=1" class="pull-right btn btn-primary btn-xs">More Featured Games &raquo;</a> 

  </div>
  <div class="col-sm-3">
    



    <div>
        <a href="/crowdsale/sky-kingdoms:-good-evil-primal-forces"><img src="//s3.amazonaws.com/files.thegamecrafter.com/d525b8fb7a504eb1a44689668f7661fe18fc2d1f" class="img-responsive" alt="Sky Kingdoms: Good, Evil & Primal Forces" title="Sky Kingdoms: Good, Evil & Primal Forces"></a>
    </div>
    <br>


    <a class="btn btn-block btn-tgc" href="/games">Buy Games</a>
    <a class="btn btn-block btn-tgc" href="/tarot">Buy Tarot</a>
    <a class="btn btn-block btn-tgc" href="/playing-cards">Buy Playing Cards</a>
    <a class="btn btn-block btn-tgc" href="/parts">Buy Game Pieces</a>
    <a class="btn btn-block btn-tgc" href="/gift-certificates">Buy Gift Certificates</a>
    <a class="btn btn-block btn-tgc" href="http://help.thegamecrafter.com/article/5-getting-started">Make Your Own Game</a>
    <a class="btn btn-block btn-tgc" href="/custom-game-cards">Make Custom Cards</a>
    <a class="btn btn-block btn-tgc" href="/custom-dice">Make Custom Dice</a>
    <a class="btn btn-block btn-tgc" href="/publish/pricing">Pricing</a>
    <a class="btn btn-block btn-tgc" href="http://help.thegamecrafter.com/">Help</a>
    
  </div>
 </div>
 
 
  
 
 <h2>New Stuff</h2>
<div class="row product_list">
    
        
<div class="col-sm-3 col-xs-6">
    <div class="game" title="Rudeness Rulez!">
        <a href="/games/rudeness-rulez-"><img src="//s3.amazonaws.com/files.thegamecrafter.com/ef328a6f76e2c2af7d427facaeab9e1984865bf6" alt="Ad for Rudeness Rulez!" title="Rudeness Rulez!" class="img-responsive"></a>
        <a href="/games/rudeness-rulez-" class="name">Rudeness Rulez!</a>
        
        <div class="short_description">The game for kids who find the word 'fart' funny</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('42127F3C-420C-11E6-9281-86C33F28A67B', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$19.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span> (1)</span>
            
        </div>
    </div>
</div>

    
        
<div class="col-sm-3 col-xs-6">
    <div class="game" title="Time &amp; Tile">
        <a href="/games/time-tile"><img src="//s3.amazonaws.com/files.thegamecrafter.com/23053c0ea29aa99d42fb0f679a4bb8b000ec80fc" alt="Ad for Time &amp; Tile" title="Time &amp; Tile" class="img-responsive"></a>
        <a href="/games/time-tile" class="name">Time &amp; Tile</a>
        
        <div class="short_description">60 tile set.</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('2F171CF0-61A9-11E6-9085-D144326D0F3E', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$9.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span> (0)</span>
            
        </div>
    </div>
</div>

    
        
<div class="col-sm-3 col-xs-6">
    <div class="game" title="Loserface">
        <a href="/games/loserface"><img src="//s3.amazonaws.com/files.thegamecrafter.com/c1fcf2d5fb556320e1bb76886a7e5076b128aabb" alt="Ad for Loserface" title="Loserface" class="img-responsive"></a>
        <a href="/games/loserface" class="name">Loserface</a>
        
        <div class="short_description">Play for an Ex, Unrequited Love or the Status 'It's Complicated' to Forget That Loserface.</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('7A4F7D8E-98AA-11E5-BDFE-81683A00C85C', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$23.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span><span class='glyphicon glyphicon-star-empty'></span> (0)</span>
            
        </div>
    </div>
</div>

    
        
<div class="col-sm-3 col-xs-6">
    <div class="game" title="Storyteller - Outbreak">
        <a href="/games/storyteller-outbreak"><img src="//s3.amazonaws.com/files.thegamecrafter.com/37d0fc19b533d83f134bfad1b4414914acab120c" alt="Ad for Storyteller - Outbreak" title="Storyteller - Outbreak" class="img-responsive"></a>
        <a href="/games/storyteller-outbreak" class="name">Storyteller - Outbreak</a>
        
        <div class="short_description">An adventurous story where you choose which path to take!</div>
        <div class="bottom_panel">
            <button class="pull-right btn btn-default btn-xs" onclick="tgc.add_to_cart('3BED0BDA-540A-11E6-B28D-480788CADD93', this);"><span class="glyphicon glyphicon-shopping-cart"></span>$42.99</button>
            <span class="rating">
<span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star'></span><span class='glyphicon glyphicon-star-empty'></span> (1)</span>
            
        </div>
    </div>
</div>

    
 </div>
 <a href="/search#_sort_by=Newest" class="pull-right btn btn-primary btn-xs">More New Stuff &raquo;</a> 
 <br>

 


</div>





<div class="footer_border">

</div>
<div class="footer">
 <div class="container">
 
  <div class="row">
   <div class="col-sm-offset-1 col-sm-2">
    <dl>
     <dt>Shop</dt>
     <dd>
      <ul>
        <li><a href="/games">Games</a></li>
        <li><a href="/tarot">Tarot</a></li>
        <li><a href="/playing-cards">Playing Cards</a></li>
        <li><a href="/non-games">Non-Games</a></li>
        <li><a href="/parts">Game Pieces</a></li>
        <li><a href="/gift-certificates">Gift Certificates</a></li>
        <li><a href="/shipping">Shipping</a></li>
       <li><a href="javascript:HS.beacon.toggle()">Support</a></li>
      </ul>
     </dd>
    </dl>
   </div>
   <div class="col-sm-2">
    <dl>
     <dt>Publish</dt>
     <dd>
      <ul>
       <li><a href="http://help.thegamecrafter.com/article/5-getting-started">Custom Card Game or Board Game</a></li>
       <li><a href="/custom-playing-cards">Custom Playing Cards</a></li>
       <li><a href="/publish/pricing">Pricing</a></li>
       <li><a href="http://help.thegamecrafter.com/article/39-templates">Templates</a></li>
       <li><a href="http://help.thegamecrafter.com/article/9-intellectual-property">Your Rights</a></li>
       <li><a href="javascript:HS.beacon.toggle()">Support</a></li>
      </ul>
     </dd>
    </dl>
   </div>
   <div class="col-sm-2">
    <dl>
     <dt>Community</dt>
     <dd>
      <ul>
       <li><a href="http://news.thegamecrafter.com">News</a></li>
         <li><a href="/announcements">Announcements</a></li>
         <li><a href="/accolades">Recent Game Accolades</a></li>
         <li><a href="/reviews">Recent User Reviews</a></li>
       <li><a href="//community.thegamecrafter.com/forums">Forums</a></li>
       <li><a href="/contests">Contests</a></li>
       <li><a href="//community.thegamecrafter.com/hall-of-fame">Hall of Fame</a></li>
      </ul>
     </dd>
    </dl>
   </div>
   <div class="col-sm-2">
    <dl>
     <dt>The Game Crafter, LLC</dt>
     <dd>
      <ul>
       <li><a href="http://help.thegamecrafter.com/article/148-about-us">About Us</a></li>
       <li><a href="http://help.thegamecrafter.com/article/152-history">History</a></li>
       <li><a href="javascript:HS.beacon.toggle()">Contact Support</a></li>
       <li><a href="http://help.thegamecrafter.com/article/14-contact-tgc">Contact Us</a></li>
       <li><a href="http://help.thegamecrafter.com/article/154-promote-tgc">Promote Us</a></li>
       <li><a href="http://help.thegamecrafter.com/article/157-thanks">Thanks</a></li>
       <li><a href="/status">Status</a></li>
       <li><a href="http://help.thegamecrafter.com/article/150-developer-api">Developer API</a></li>
      </ul>
     </dd>
    </dl>
   </div>
   <div class="col-sm-3">
    <a href="/"><img src="/tgc4/img/circle_logo.png" alt="TGC Logo" title="The Game Crafter"></a>
   </div>
  </div>
  <div class="row">
   <div class="col-sm-5">&copy;2009-2015 The Game Crafter, LLC. All rights reserved.</div>
   <div class="col-sm-3">
    <div class="addthis_toolbox addthis_default_style">
     <a class="addthis_button_facebook_follow" addthis:userid="thegamecrafter"></a>
     <a class="addthis_button_twitter_follow" addthis:userid="thegamecrafter"></a>
     <a class="addthis_button_google_follow" addthis:userid="103903440258023836332"></a>
     <a class="addthis_button_youtube_follow" addthis:userid="TheGameCrafter"></a>
     <a class="addthis_button_pinterest_follow" addthis:userid="thegamecrafter"></a>
     <a class="addthis_button_tumblr_follow" addthis:userid="tgcnews"></a>
     <a class="addthis_button_rss_follow" addthis:userid="http://feeds.feedburner.com/tgcnews"></a>
    </div>

   </div>
   <div class="col-sm-4"><p style="text-align: right;"><a href="http://help.thegamecrafter.com/article/156-terms">Terms of Use</a> &nbsp; <a href="http://help.thegamecrafter.com/article/153-privacy-policy">Privacy Policy</a></p></div>
 </div>
 <br><br>
</div>

<div id="chiselchat-wrapper"></div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="/tgc4/js/tgc.js?v=4" type="text/javascript"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pnotify/2.0.0/pnotify.all.min.js"></script>

<script src="https://cdn.firebase.com/js/client/1.1.3/firebase.js"></script>
<script src="/chiselchat/chiselchat.min.js?v=13"></script>
<script type="text/javascript" src="/wing.js?v=5"></script>

<script type="text/javascript">
$('a[data-toggle="tab"]').on('shown', function(e) {
  $('.what_is_tgc').css('height','auto');
});
</script>




 
 

 
 

 
 

 
 



<script type="text/javascript">
 $('#showcase_carousel').carousel({interval: 7000});
 $('.moreinfo').popover({trigger:"hover",placement:"bottom",html:true});

 



 
 (function() {
   var chatRef = new Firebase('//tgc.firebaseio.com');
   chat = new ChiselchatUI(chatRef, document.getElementById("chiselchat-wrapper"));
   
   chat.addCommand({
       match   : /^\/pricing$/,
       func : function(message, chatui) {
           message.content = 'https://www.thegamecrafter.com/publish/pricing';
       },
       name    : "/pricing",
       help    : "Quick link to the component pricing page.",
       moderatorOnly: false
   });
   chat.addCommand({
       match   : /^\/ideas$/,
       func : function(message, chatui) {
           message.content = 'https://www.thegamecrafter.com/ideas';
       },
       name    : "/ideas",
       help    : "Quick link to the community ideas submission page.",
       moderatorOnly: false
   });
   chat.addCommand({
       match   : /^\/status$/,
       func : function(message, chatui) {
           message.content = 'https://www.thegamecrafter.com/status';
       },
       name    : "/status",
       help    : "Quick link to the queue status page.",
       moderatorOnly: false
   });
   chat.addCommand({
       match   : /^\/news$/,
       func : function(message, chatui) {
           message.content = 'http://news.thegamecrafter.com/';
       },
       name    : "/news",
       help    : "Quick link to The Official Game Crafter Blog.",
       moderatorOnly: false
   });
   chat.addCommand({
       match   : /^\/podcast$/,
       func : function(message, chatui) {
           message.content = 'http://thegamecrafter.libsyn.com/';
       },
       name    : "/podcast",
       help    : "Quick link to The Official Game Crafter Podcast.",
       moderatorOnly: false
   });
   chat.addCommand({
       match   : /^\/parts/,
       func : function(message, chatui) {
           if (message.content.match(/^\/parts$/)) {
             message.content = 'https://www.thegamecrafter.com/parts';
           }
           else {
            var keywords = message.content.match(/^\/parts\s+(.*)$/)
            keywords[1] = keywords[1].replace(/\s/g,'+');
            message.content = 'https://www.thegamecrafter.com/parts#keyword='+keywords[1];
           }
       },
       name    : "/parts",
       help    : "Quick link to the parts shop. Include a keyword to search the parts shop.",
       moderatorOnly: false
   });
   chat.addCommand({
       match   : /^\/help\s+(.*)$/,
       func : function(message, chatui) {
           var keywords = message.content.match(/^\/help\s+(.*)$/);
           keywords[1] = keywords[1].replace(/\s/g,'+');
           message.content = 'http://help.thegamecrafter.com/search?query='+keywords[1];
       },
       name    : "/help [keywords]",
       help    : "Type in a key word or words to search our help system.",
       moderatorOnly: false
   });
   chat.addCommand({
       match   : /^\/url\s+(.*)$/,
       func : function(message, chatui) {
           var url = message.content.match(/^\/url\s+(.*)$/)
           message.content = 'https://www.thegamecrafter.com/'+url[1];
       },
       name    : "/url [page-url]",
       help    : "Type in a page URL on TGC and get a full link to it.",
       moderatorOnly: false
   });
   chat.addCommand({
       match   : /^\/copyright/,
       func : function(message, chatui) {
           message.content = 'https://www.thegamecrafter.com/help/intellectual-property';
       },
       name    : "/copyright",
       help    : "Quick link to Intellectual Property page in the Help section of the site.",
       moderatorOnly: false
   });

   /*  chatRef.authAnonymously(function(error, anonymous) {
         if (error) {
                 console.log('Anonymous auth failed.',error);
         }
         else {
                 console.dir(anonymous);
                 chat.setUser({
                         userId: anonymous.uid
                 });
         }
      }); */



  })();
 
 

 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15146236-4']);
  _gaq.push(['_setDomainName', 'thegamecrafter.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  function update_global_game_search() {
   $('#global-game-search').attr('action', '/search#q=' + $('#global-game-search .search-query').val());
  }
  
      function PopupChat() {
         var w = 500;
         var h = 665;
                var sxcenter = screen.left + screen.width / 2;
                var sycenter = screen.top + screen.height / 2;
                var left = sxcenter - w / 2;
                var top = sycenter - h / 2;
                  
        var newWindow = window.open('/chat', 'TGC Chat', 'scrollbars=yes, toolbar=no, location=no, status=no, menubar=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);  
      
        if (window.focus) {  
            newWindow.focus();
        }  
    };

    $('#chiselchat-tab-list').append('<button onclick="PopupChat();return false" class="btn btn-xs btn-info" style="background-color: #555; border-color: #555; color: #ccc;" title="Open chat in new window."><span class="glyphicon glyphicon-comment"></span> <span class="glyphicon glyphicon-new-window"></span></button>');

</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=plainblack"></script>
<script>!function(e,o,n){window.HSCW=o,window.HS=n,n.beacon=n.beacon||{};var t=n.beacon;t.userConfig={},t.readyQueue=[],t.config=function(e){this.userConfig=e},t.ready=function(e){this.readyQueue.push(e)},o.config={docs:{enabled:!0,baseUrl:"//thegamecrafter.helpscoutdocs.com/"},contact:{enabled:!0,formId:"ecb429d8-ac0c-11e5-9e75-0a7d6919297d"}};var r=e.getElementsByTagName("script")[0],c=e.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://djtflbt20bdde.cloudfront.net/",r.parentNode.insertBefore(c,r)}(document,window.HSCW||{},window.HS||{});</script>
<script>
  HS.beacon.config({
    modal: true,
    icon: 'question',
    topArticles : true,
    attachment: true,
    poweredBy : false,
    instructions:'We respond in 2 business days or less. If you need faster support check out the help link at the top of the page or ask in chat at the bottom of the page.',
    translation : {
     messageLabel : 'How can we help you? If you need help with a previous order, please tell us your Order #.',
    },
  });
  
</script>
<button class="support" onclick="HS.beacon.toggle()">Support</button>

</body>
</html>

