

<center>
  <h2>
    Enter Data From This Reference
  </h2>
  <div style="margin-bottom: 2em;"><i>%%message%%</i></div>
</center>


<ul class="medium" style="text-align: left;">

  <li>Add or edit all the <a href="#" onClick="popup = window.open('/classic/displayAuthorityTaxonSearchForm', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">taxonomic names</a>, especially if they are new or newly combined</li>

  <li>Add or edit all the new or second-hand <a href="#" onClick="popup = window.open('/classic/displayOpinionSearchForm', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">taxonomic opinions</a> about classification or synonymy</li>

  <li>Add <a href="#" onClick="popup = window.open('/classic/uploadNexusFile', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">phylogenetic character matrices</a> describing these taxa</li>

  <li>Edit <a href="#" onClick="popup = window.open('/app/collections', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">existing collections (BETA)</a> if new details are given</li>
  <li>Edit <a href="#" onClick="popup = window.open('/classic/displaySearchColls?type=edit', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">existing collections (original)</a> if new details are given</li>

  <li>Add all the <a href="#" onClick="popup = window.open('/app/collections?type=add', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">new collections (BETA)</a></li>
  <li>Add all the <a href="#" onClick="popup = window.open('/classic/displaySearchCollsForAdd', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">new collections (original)</a></li>

  <li>Add all new <a href="#" onClick="popup = window.open('/classic/displayOccurrenceAddEdit', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">occurrences</a> in existing or new collections</li>

  <li>Add all new <a href="#" onClick="popup = window.open('/classic/displayReIDCollsAndOccsSearchForm', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">reidentifications</a> of existing occurrences</li>

  <li>Add <a href="#" onClick="popup = window.open('/classic/startStartEcologyTaphonomySearch', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">ecological/taphonomic data</a></li>

  <li>Add <a href="#" onClick="popup = window.open('/classic/displaySpecimenSearchForm', 'data_entry', 'left=100,top=100,height=700,width=1000,toolbar=yes,scrollbars=yes,resizable=yes');">specimen measurements</a></li>
  <ul>
