
<!-- <center><p class="pageTitle" align="center" style="margin-bottom: 1em;">Paleobiology Database Main Menu</p></center> -->
<center>
  <h2>
    Paleobiology Database Main Menu
  </h2>
  <div style="margin-bottom: 2em;"><i>%%message%%</i></div>
</center>

<table border="0 align="center">
        <tr>
          <td valign="top" class="medium">
          <div style="margin-left: 8em;">

            <p class="large">Basic steps</p>
            <ul>
              <li><a href="/classic/app/refs">Add a new reference (BETA)</a></li>
              <li><a href="/classic/displaySearchRefs?type=add">Add a new reference (old version)</a></li>
              <div hide="limited">
              <li><a href="/classic/displayAuthorityTaxonSearchForm">Add/edit taxonomic name</A></li>
              <li><a href="/classic/displayOpinionSearchForm">Add/edit taxonomic opinion</A></li>
              </div>
              <li><a href="/classic/displaySearchCollsForAdd">Add a new collection</a></li>
              <li><a href="/classic/displayOccurrenceAddEdit">Add taxonomic occurrences</a>&nbsp;&nbsp;</li>
              <li><a href="/classic/displaySearchColls?type=occurrence_list">Paste in an occurrence list</a>&nbsp;&nbsp;</li>
              <!-- <li><a href="/classic/displaySearchColls?type=occurrence_table">Add/edit a table of occurrences</a>&nbsp;&nbsp;</li> -->
	      <li><a href="/classic/app/specimen-entry">Enter new specimens</a></li>
            </ul>

            <p class="large">References</p>
            <ul>
              <li><a href="/classic/displaySearchRefs?type=select">Change current reference</a></li>
              <li><a href="/classic/editCurrentRef">Edit current reference</a></li>
              <li><a href="/classic/displaySearchRefs?type=edit">Edit a different reference</a></li>
            </ul>

            <p class="large">Collections and occurrences</p>
            <ul>
              <li><a href="/classic/displaySearchColls?type=edit">Edit an old collection</a></li>
              <li><a href="/classic/displayOccurrenceAddEdit">Edit old occurrences</a>&nbsp;&nbsp;</li>
              <li><a href="/classic/displayReIDCollsAndOccsSearchForm">Reidentify occurrences</a></li>
              <li><a href="/classic/startStartReclassifyOccurrences">Reclassify occurrences of homonyms</a></li>
              <li><a href="/classic/searchOccurrenceMisspellingForm">Correct misspellings</a></li>
            </ul>

          </div>
          </td>

          <td valign="top" class="medium">
          <div style="margin-left: 2em;">

            <p class="large">Search</p>
            <ul>
              <li><a href="/classic/app/refs">Search for a reference (BETA)</a></li>
              <li><a href="/classic/displaySearchRefs?type=view">Search for a reference (old version)</a></li>
              <li><a href="/classic/displaySearchColls?type=view">Search for collections</a></li>
	      <li><a href="/classic/nexusFileSearch">Search for nexus files</a></li>
              <li><a href="/classic/displaySearchStrataForm?type=view">Search for a stratigraphic unit</a></li>
              <li><a href="/classic/beginTaxonInfo">Search for a taxon</a></li>
	      <li><a href="/classic/displayTimescale?type=list">Browse time scales</a></li>
              <li><a href="/classic/classificationForm">Print a taxonomic hierarchy</a></li>
<!--
              <li><a href="?a=listReviews">Read review pages</a></li>
-->
            </ul>

            <p class="large">Download</p>
            <ul>
	      <li><a href="/classic/displayDownloadGenerator">Download records of all types</a></li>
              <!-- <li><a href="/classic/displayDownloadForm">Old form for occurrences</a></li> -->
              <!-- <li><a href="/classic/displayDownloadTaxonomyForm">Old form for taxonomic names</a></li> -->
              <!-- <li><a href="/classic/displayDownloadMeasurementsForm">Old form for measurements</a></li> -->
	          <!-- <li><a href="/classic?page=OSA">Download curated data archives</a></li> -->
              <li><a href="/classic/app/archive/list">Download static archives</a></li>
            </ul>
            <br>
            <p class="large">Additional entry functions</p>
            <ul>
              <li><a href="/classic/app/resource-sub">Submit an external resource</a></li>
              <li><a href="/classic/startStartEcologyTaphonomySearch">Add/edit ecological/taphonomic data</a></li>
              <li><a href="/classic/startStartEcologyVertebrateSearch">Add/edit vertebrate ecology data</a></li>
              <li><a href="/classic/displaySpecimenSearchForm">Add/edit specimen measurement data</a></li>
              <li><a href="/classic/badNameForm">Search for bad names</a></li>
	          <li><a href="/classic/uploadNexusFile">Upload a nexus file</a></li>
	        </ul>
            <!-- <p class="large">Database settings</p> -->
            <!-- <ul> -->
              <!-- <div show="officer"> -->
              <!-- <li><a href="?a=personForm">Add person</a></li> -->
              <!-- <li style="margin-bottom: 0em;">Edit person named -->
              <!--   <form method="GET" action=""> -->
              <!--   <input type="hidden" name="a" value="personForm"> -->
              <!--   <input type="text" size="30" name="name" style="font-size: 0.5em; margin-bottom: -1em;"> -->
              <!--   </form> -->
              <!-- </li> -->
              <!-- </div> -->
              <!-- <li><a href="?a=logout">Log out or change login</a></li> -->
              <!-- <li><a href="?a=displayPermissionListForm">Change editing permission list</a></li> -->
	      <!-- <li><a href="http://paleodb.org/cgi-bin/yabb2/YaBB.pl" target="_blank">View discussion forum</a></li> -->
            <!-- </ul> -->
          </td>
          </div>
        </tr>
        <tr>
          <td colspan=2>
<br>
<div style="align: left; padding-left: 3em; padding-right: 3em;">
<p class="tiny">Please consult the <a href="javascript: tipsPopup('/public/tips/tutorial.html')">data entry tutorial</a> and tip sheets for entering
<a href="javascript: tipsPopup('/public/tips/tips.html')">collection data</a>,
<a href="javascript: tipsPopup('/public/tips/occurrence_tips.html')">occurrences</a>,
<a href="javascript: tipsPopup('/public/tips/lithtips.html')">lithologies</a>,
<a href="javascript: tipsPopup('/public/tips/environtips.html')">paleoenvironments/tectonic settings</a>,
<a href="javascript: tipsPopup('/public/tips/taxonomy_FAQ.html')">taxonomic data</a>,
<a href="javascript: tipsPopup('/public/tips/ecology_tips.html')">ecology/taphonomy</a>, and 
<a href="javascript: tipsPopup('/public/tips/paleobotany_tips.html')">paleobotany data</a>.
<!-- <a href="javascript: tipsPopup('/public/tips/upload_tips.html')">batch uploads</a>. -->

 <!-- If you have further questions you can write to any member of the <a href="?page=EC">Executive Committee</a> or the <a href="mailto:admin@paleobiodb.org">database administrator</a>.-->
<p class="tiny">Remember: Enter all the data, don't enter lumped or mixed collections. Also search carefully to avoid entering duplicates.</p>
<p class="tiny">
    <!-- Visit the the PBDB <a href="https://github.com/paleobiodb/PBDB_changelog/issues"><b>change log</b></a> for updates.-->
    <br>
    Report technical malfunctions found on this site to the <a
        href="mailto:admin@paleobiodb.org"><b>database
            administrator</b></a>.<br>
    For general questions or requests from the media, contact <a
        href="mailto:info@paleobiodb.org"><b>
                                                                   PBDB
                                                                   Information</b></a>.
</p>
</div>
    </td>
  </tr>
</table>
