
<center>
  <h2>
    Paleobiology Database Main Menu
  </h2>
  <div style="margin-bottom: 2em;"><i>%%message%%</i></div>
</center>

<table border="0" align="center">
  <tr>
    <td valign="top" class="medium">
      <div style="margin-left: 4em;">
	
        <p class="large menuheading">References</p>
        <ul>
          <li><a href="/app/refs">Search for a reference</a></li>
          <li><a href="/app/refs?type=new">Add a new reference</a></li>
	  <li><a href="/app/refs?type=select" target="_blank">Change current reference</a></li>
	  <li><a href="/classic?a=clearRef&type=select">Clear current reference</a></li>
	</ul>
	
	<p class="large menuheading">Collections</p>
	<ul>
          <li><a href="/app/collections">Search for collections</a></li>
          <li><a href="/app/collections#add">Add a new collection</a></li>
          <li><a href="/app/collections#edit">Edit an old collection</a></li>
	</ul>
	
	<p class="large menuheading">Specimens</p>
	<ul>
	  <li><a href="/classic/app/specimen-entry">Enter new specimens</a></li>
          <li><a href="/classic/displaySpecimenSearchForm">Add/edit specimen
	      measurement data</a></li>
	</ul>
	
	<p class="large menuheading">Additional functions</p>
	<ul>
          <li><a href="/classic/app/resource-sub">Submit an external resource</a></li>
          <li><a href="/classic/displaySearchStrataForm?type=view">Search for a
	      stratigraphic unit</a></li>
	  <li><a href="/classic/displayTimescale?type=list">Browse time scales</a></li>
	</ul>
	
      </div>
    </td>
    
    <td valign="top" class="medium">
      <p class="large menuheading">Taxonomic Names and Opinions</p>
      <ul>
        <li><a href="/classic/beginTaxonInfo">Search for a taxon</a></li>
	<div hide="limited">
	  <li><a href="/classic/displayAuthorityTaxonSearchForm">Add/edit taxonomic name</a></li>
	  <li><a href="/classic/displayOpinionSearchForm">Add/edit taxonomic opinion</a></li>
        </div>
        <li><a href="/classic/classificationForm">View a taxonomic hierarchy</a></li>
	<div hide="limited">
	  <li><a href="/classic/startStartEcologyTaphonomySearch">Add/edit
	      ecological/taphonomic data</a></li>
	  <li><a href="/classic/badNameForm">Search for bad names</a></li>
	</div>
      </ul>
      
      <p class="large menuheading">Occurrences</p>
      <ul>
	<li><a href="/app/collections#occs">Add/Edit occurrences</a>
        <li><a href="/classic/displayReIDCollsAndOccsSearchForm">Reidentify
	    occurrences</a></li>
        <li><a href="/classic/startStartReclassifyOccurrences">Reclassify
	    occurrences of homonyms</a></li>
        <li><a href="/classic/searchOccurrenceMisspellingForm">Correct
	    misspelled occurrences</a></li>
      </ul>
      
      <p class="large menuheading">Download</p>
      <ul>
	<li><a href="/classic/displayDownloadGenerator">Download records of all types</a></li>
        <li><a href="/classic/app/archive/list">Download static archives</a></li>
      </ul>
      
    </td>
  </tr>
  <tr>
    <td colspan=2>
      
      <div style="align: left; padding-left: 3em; padding-right: 3em;">
	<p>You can switch to the <a href="/classic?menu=old"><strong>Old main menu</strong></a>
	  if you prefer.</p>
	
	<p>Please consult the
	  <a href="https://escholarship.org/content/qt6tm05630/qt6tm05630.pdf?t=s0797i"
	     target="_blank"><strong>User Guide</strong> </a>
	  for detailed instructions on entering and downloading data.
	  Remember: Enter all the data, don't enter lumped or mixed collections. Also search
	  carefully to avoid entering duplicates.</p>
	<p>
	  Report technical malfunctions to the <a href="mailto:admin@paleobiodb.org">
	    <strong>database administrator</strong></a>.
	  For general questions or requests from the media, contact
	  <a href="mailto:info@paleobiodb.org"><strong>PBDB Information</strong></a>.
	</p>
      </div>
    </td>
  </tr>
</table>
